In [34]:
import pandas as pd
#import numpy as np

In [74]:
def simulate_management(w=0, x=20, b=100, b_exp=50, c=-10, n=20, adapt=False):
    index = pd.Index(range(n))
    columns = pd.Index(['w', 'x', 'y', 'y_exp', 'U', 'U_exp', 'b_exp'])
    data = pd.DataFrame(index=index, columns=columns)

    for t in range(n):
        # saving variables which were updated last round
        data['w'][t] = w
        data['x'][t] = x
        data['b_exp'][t] = b_exp
        
        # production and expected production
        data['y'][t] = -(x**2) + b*x + c
        data['y_exp'][t] = -(x**2) + b_exp*x
        
        # Utility and expected utility
        data['U'][t] = data['y'][t] + w*x
        data['U_exp'][t] = data['y_exp'][t] + w*x
        
        # updating for next round
        if x != 0: #avoid division by zero
            b_exp = data['y'][t]/x + x
        x = b_exp/2
        
        if adapt and t > 0: # For adaptive utility
            w = (data['x'][t]-data['x'][t-1]) / abs(data['x'][t]) \
                * ((data['U'][t] - data['U_exp'][t]) / data['x'][t]) \
                + w
        
     
    # saving variables that were last updated
    data['w'][t] = w
    data['x'][t] = x
    data['b_exp'][t] = b_exp
    
        #data.append(pd.Series([w, x, b_ex, y, y_ex, U, U_ex]), ignore_index=True)
    return data

In [75]:
simulate_management()

    w        x        y    y_exp        U    U_exp    b_exp
0   0       20     1590      600     1590      600       50
1   0    49.75  2489.94  2475.06  2489.94  2475.06     99.5
2   0  49.8995  2489.99  2489.96  2489.99  2489.96   99.799
3   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
4   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
5   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
6   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
7   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
8   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
9   0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
10  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
11  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
12  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
13  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
14  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
15  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
16  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
17  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
18  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996
19  0  49.8998  2489.99  2489.99  2489.99  2489.99  99.7996

In [76]:
simulate_management(adapt=True)

running in round 1
running in round 2
running in round 3
running in round 4
running in round 5
running in round 6
running in round 7
running in round 8
running in round 9
running in round 10
running in round 11
running in round 12
running in round 13
running in round 14
running in round 15
running in round 16
running in round 17
running in round 18
running in round 19

           w        x        y    y_exp        U    U_exp    b_exp
0          0       20     1590      600     1590      600       50
1          0    49.75  2489.94  2475.06  2489.94  2475.06     99.5
2   0.178796  49.8995  2489.99  2489.96  2498.91  2498.88   99.799
3   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
4   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
5   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
6   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
7   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
8   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
9   0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
10  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
11  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
12  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
13  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
14  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
15  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
16  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
17  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
18  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996
19  0.178798  49.8998  2489.99  2489.99  2498.91  2498.91  99.7996

In [72]:
simulate_management(c=-1000)

    w        x        y    y_exp        U    U_exp    b_exp
0   0       20      600      600      600      600       50
1   0       25      875      625      875      625       50
2   0       30     1100      900     1100      900       60
3   0  33.3333  1222.22  1111.11  1222.22  1111.11  66.6667
4   0       35     1275     1225     1275     1225       70
5   0  35.7143  1295.92  1275.51  1295.92  1275.51  71.4286
6   0       36     1304     1296     1304     1296       72
7   0  36.1111   1307.1  1304.01   1307.1  1304.01  72.2222
8   0  36.1538  1308.28   1307.1  1308.28   1307.1  72.3077
9   0  36.1702  1308.74  1308.28  1308.74  1308.28  72.3404
10  0  36.1765  1308.91  1308.74  1308.91  1308.74  72.3529
11  0  36.1789  1308.98  1308.91  1308.98  1308.91  72.3577
12  0  36.1798     1309  1308.98     1309  1308.98  72.3596
13  0  36.1801  1309.01     1309  1309.01     1309  72.3602
14  0  36.1803  1309.01  1309.01  1309.01  1309.01  72.3605
15  0  36.1803  1309.02  1309.01  1309.02  1309.01  72.3606
16  0  36.1803  1309.02  1309.02  1309.02  1309.02  72.3607
17  0  36.1803  1309.02  1309.02  1309.02  1309.02  72.3607
18  0  36.1803  1309.02  1309.02  1309.02  1309.02  72.3607
19  0  36.1803  1309.02  1309.02  1309.02  1309.02  72.3607

In [73]:
simulate_management(c=-1000, adapt=True)

          w        x        y    y_exp        U    U_exp    b_exp
0         0       20      600      600      600      600       50
1         0       25      875      625      875      625       50
2         2       30     1100      900     1160      960       60
3   3.11111  33.3333  1222.22  1111.11  1325.93  1214.81  66.6667
4   3.44444       35     1275     1225  1395.56  1345.56       70
5   3.51247  35.7143  1295.92  1275.51  1421.36  1400.96  71.4286
6    3.5239       36     1304     1296  1430.86  1422.86       72
7   3.52566  36.1111   1307.1  1304.01  1434.41  1431.33  72.2222
8   3.52593  36.1538  1308.28   1307.1  1435.76  1434.58  72.3077
9   3.52597  36.1702  1308.74  1308.28  1436.27  1435.82  72.3404
10  3.52597  36.1765  1308.91  1308.74  1436.47  1436.29  72.3529
11  3.52597  36.1789  1308.98  1308.91  1436.54  1436.48  72.3577
12  3.52597  36.1798     1309  1308.98  1436.57  1436.55  72.3596
13  3.52597  36.1801  1309.01     1309  1436.58  1436.57  72.3602
14  3.52597  36.1803  1309.01  1309.01  1436.59  1436.58  72.3605
15  3.52597  36.1803  1309.02  1309.01  1436.59  1436.59  72.3606
16  3.52597  36.1803  1309.02  1309.02  1436.59  1436.59  72.3607
17  3.52597  36.1803  1309.02  1309.02  1436.59  1436.59  72.3607
18  3.52597  36.1803  1309.02  1309.02  1436.59  1436.59  72.3607
19  3.52597  36.1803  1309.02  1309.02  1436.59  1436.59  72.3607